.content {
    padding: 15px 0;
}

mat-progress-bar {
    position: absolute;
    top: 78px;
}

@media screen and (min-width: 767px) {
    mat-progress-bar {
        top: 64px;
    }

    .content {
        min-height: calc(100vh - 164px);
    }
}